# ignore all text file folders
*.log
code/db/
code/test_db/
code/test_utf/
code/InvertedIndexClient/x64/
code/InvertedIndexServer/x64/
code/ServerTesting/x64/
code/InvertedIndexClient/.vs/
code/InvertedIndexClient/downloads/
code/InvertedIndexServer/.vs/
code/ServerTesting/.vs/
code/InvertedIndexClient/Inverted.d2803445/
code/InvertedIndexServer/Inverted.fed0f038/
code/TestClient/
code/TestServer/
code/in.txt
code/out.txt